@icon-cls: x-icon;

.@{icon-cls} {
  @apply inline-block text-center;
  vertical-align: -0.15em;

  &-spin svg {
    animation: spin 1s infinite linear;
  }

  &-rtl {
    transform: scaleX(-1);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
