@icon-cls: ~'@{prefix}-icon';

.@{icon-cls} {
  @apply inline-block text-inherit not-italic leading-none text-center normal-case;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &-spin svg {
    animation: iconSpin 1s infinite linear;
  }

  &-rtl {
    transform: scaleX(-1);
  }
}

@keyframes iconSpin {
  100% {
    transform: rotate(360deg);
  }
}
