@icon-cls: ~'@{prefix}-icon';

.@{icon-cls} {
  @apply inline-block text-center;
  vertical-align: -0.15em;

  &-spin svg {
    animation: iconSpin 1s infinite linear;
  }

  &-rtl {
    transform: scaleX(-1);
  }
}

@keyframes iconSpin {
  100% {
    transform: rotate(360deg);
  }
}
