#nprogress {
  & > .bar {
    background: var(--color-primary)!important;
  }

  & > .spinner-icon {
    border-top-color: var(--color-primary)!important;
    border-left-color: var(--color-primary)!important;
  }
}
