@image-cls: ~'@{prefix}-image';

:root {
  --image-width: 200px;
  --image-height: 120px;
  --image-fill: var(--color-fill-secondary);
}

.@{image-cls} {
  @apply relative inline-block align-top;
  width: var(--image-width);
  height: var(--image-height);

  &--block {
    @apply block;
  }

  &--round {
    @apply rounded-full overflow-hidden;

    .@{image-cls}__img {
      @apply rounded-full;
    }
  }

  &--full {
    @apply w-full overflow-hidden after:block;

    &:after {
      padding-top: 100%;
    }

    .@{image-cls}__img {
      @apply absolute inset-y-0 inset-x-0;
    }
  }

  &__img,
  &__loading,
  &__error {
    @apply block w-full h-full;
  }

  &__loading,
  &__error {
    @apply absolute top-0 left-0;
    background-color: var(--image-fill);

    &-icon {
      @apply absolute top-2/4 left-2/4 w-2/3 h-2/3 flex flex-col items-center justify-center;
      transform: translate(-50%, -50%);

      & > span {
        @apply w-1/2 h-1/2 text-quaternary;
      }
    }
  }
}
