.menu {
  @apply h-full w-full;

  &:global.ant-menu-light.ant-menu-inline {
    .ant-menu-sub.ant-menu-inline {
      @apply bg-container;
      transition-property: padding;
    }
  }

  :global {
    @submenu-cls: ~'.ant-menu-submenu';

    @{submenu-cls} {
      @apply overflow-hidden;

      &-arrow {
        @apply before:h-px after:h-px;

        &:before {
          transform: rotate(-45deg) translateX(3px) translateZ(0px);
        }

        &:after {
          transform: rotate(45deg) translateX(-3px) translateZ(0px);
        }
      }
    }

    @{submenu-cls}-open@{submenu-cls}-inline
      > @{submenu-cls}-title
      > @{submenu-cls}-arrow {
      &:before {
        transform: rotate(45deg) translateX(3px) translateZ(0px);
      }

      &:after {
        transform: rotate(-45deg) translateX(-3px) translateZ(0px);
      }
    }
  }
}
